@import "tailwindcss";

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing-screen-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: tomato;
}


